body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.quarter {
    width: 50%;
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

#summerproduce {
    background-color: yellow;
}

#fallproduce {
    background-color: orange;
}

#winterproduce {
    background-color: aqua;
}

#springproduce {
    background-color: violet;
}


/*
body {
    display: flex;
    justify-content: center;
}
*/

#header {
    color: white;
    background-color: #49699c;
    text-align: center;
    padding: 20px;
}

img {
    width: 12rem;
    height: auto;
    justify-self: center;
}

#produce-form {
    display: none
}