body {
    height: 100%;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: xx-large;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.quarter {
    width: 50%;
    height: auto;
    min-height: 400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

#summerproduce {
    background-color: rgb(240, 220, 7);
    color: white;
    box-shadow: 3px 4px orange;

}

#fallproduce {
    background-color: orange;
}

#winterproduce {
    background-color: aqua;
}

#springproduce {
    background-color: rgb(11, 218, 14);
}

#header {
    color: white;
    background-color: violet ;
    text-align: center;
    padding: 20px;
    font-family: 'Helvetica', sans-serif;

}

img {
    width: 4vw;
    height: auto;
    justify-self: center;
}

#produce-form {
    display: none;
    background-color: violet;
    text-align: center;
    border: solid;
    border-color: violet;
    

}

#btn {
    background-color: violet;
    margin: 0px;
    height: 50px;
    color: white;
}

#new-produce-btn {
    background-color: rgb(161, 15, 117);
    height: 40px;
    border: solid white;
    color: white;
    border-radius: 12px;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 5px;
    padding-top: 5px;
    width: 15vw;
    height: 30vh;
    display: inline-grid;
    margin: 1vh 1vw;
    margin-top: 0px;
    box-shadow: 3px 4px #e04b52;
    background-color: whitesmoke;


}

#summer {
    display: none
}

#spring {
    display: none
}

#fall {
    display: none
}

#winter {
    display: none
}

h3 {
    margin: 3px;

}

p {
    margin: 3px;
}

#produce-form h3 {
    margin: 0;
    text-align: center;
    color: white;
}